<div class="container-marks">
  <div class="page-header">
    <h2 class="text-center text-uppercase text-info">{{subject}}</h2>
    <h3 class="text-center text-uppercase text-danger">Teacher: {{teacher.teacherName}} {{teacher.teacherLastName}}</h3>
    <h4 class="text-center text-uppercase text-info">Cabinet: {{subjectInfo.cabinet}}</h4>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="text-info text-uppercase">
        <th>Name</th>
        <th>Last Name</th>
        <th>Average Mark</th>
        <th *ngFor="let date of dates">{{date}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.studentName}}</td>
        <td>{{student.studentLastName}}</td>
        <td>{{getAverageMark(student)}}</td>
        <td *ngFor="let date of dates">{{getMark(student, date)}}</td>
      </tr>
    </tbody>
  </table>
</div>
<a class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" routerLink="/subjects">
  <button type="button" class="btn-sm btn-info">Back to the subjects page</button>
</a>