<div>
  <div class="page-header">
    <h2 class="text-center text-uppercase text-info">{{id}}</h2>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="text-info text-uppercase">
        <th>subject</th>
        <th>cabinet</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{subject.subject}}</td>
        <td>{{subject.cabinet}}</td>
    </tbody>
  </table>
</div>
<a class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" routerLink="/subjects">
  <button type="button" class="btn-sm btn-info">Back to the subjects page</button>
</a>