<app-notification-self-closing header="Info" description="Subject created!"></app-notification-self-closing>

<div class="page-header">
  <h2 class="text-center text-uppercase text-info">Add new subject:</h2>
</div>
<div class="panel">
  <form class="form-horizontal">

    <app-input-form-group [(itemInfo)]="subjectInfo" itemName="Subject"
      (changeItemValue)="changeItemValue($event, 'subject')" dataType="only letters" maxLength="10">
    </app-input-form-group>
    <app-input-form-group [(itemInfo)]="cabinetInfo" itemName="Cabinet"
      (changeItemValue)="changeItemValue($event, 'cabinet')" dataType="only numbers" maxLength="2">
    </app-input-form-group>

    <div class="form-group">
      <label class="col-sm-2 col-md-offset-2 col-lg-offset-2 control-label">Select teachers:</label>
      <select multiple class="col-sm-9 col-md-7 col-lg-5" name="teachersID" [(ngModel)]="teachersID">
        <option *ngFor="let teacher of teachersAll" [value]="teacher._id">
          {{teacher.name}} {{teacher.lastName}}
        </option>
      </select>
    </div>

    <app-input-form-group [(itemInfo)]="descriptionInfo" itemName="Description"
      (changeItemValue)="changeItemValue($event, 'description')" dataType="only numbers, letters and spaces"
      maxLength="40"></app-input-form-group>

    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-3 col-md-offset-9 col-md-1 col-lg-offset-9 col-lg-1">
        <button type="button" (click)="addNewSubject(teachersID)"
          class="btn btn-info">ADD</button>
      </div>
    </div>
  </form>
</div>

<a class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" routerLink="/subjects">
  <app-button-add [value]="buttonInfo"></app-button-add>
</a>

<app-modal>
  <h3 class="text-info">Please check the filling and correctness of filling in all fields!</h3>
</app-modal>