<div class="page-header">
  <h2 class="text-center text-uppercase text-info">List of teachers by {{id}}:</h2>
</div>
<div class="container-teachers">
  <a class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6"
    *ngFor="let teacher of teachers" routerLink="/subjects/{{id}}/{{teacher.id}}">
    <div>
      <h3>{{teacher.teacherName}} {{teacher.teacherLastName}}</h3>
    </div>
  </a>
</div>
<a class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" routerLink="/subjects">
  <button type="button" class="btn-sm btn-info">Back to the subjects page</button>
</a>