.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80wh;
  height: 70vh;
  margin: 10px auto;
  box-shadow: inset 0px 0px 20px 80px #ffffff;
  background-color: #dbfdff;
  p {
    font-size: 2em;
    font-style: italic;
    font-weight: 900;
    color: #060668;
  }
}
