.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80wh;
  height: 70vh;
  margin: 10px auto;
  border: 2px dotted rgb(93, 0, 214);
  border-radius: 10px;
  background: linear-gradient(to top, rgb(154, 224, 252) 20%, rgb(206, 234, 238) 50%, rgb(120, 172, 250) 80%);
  p {
    font-size: 2em;
    font-style: italic;
    font-weight: 900;
    color: rgb(6, 6, 104);
  }
}
