<form [formGroup]="selectForm" novalidate>
  <h6>{{ outputItems }}</h6>
  <div>
    <button type="button" class="dropdown-toggle" (click)="toggleOpen()">
      <span>{{ isOpen() ? '&#9660;' : '&#9658;' }}</span>
    </button>
    <input type="checkbox" formControlName="isChecked">
    <label>{{ title }}</label>
  </div>
  <div *ngIf="isOpen()" class="menu">
    <form formGroupName="dates" novalidate>
      <div *ngFor="let option of options; let i = index;">
        <input type="checkbox" formControlName="{{ option }}" class="">
        <label>{{ option }}</label>
      </div>
      <div class="dropdown-item" *ngIf="!options.length">No items for select</div>
    </form>
  </div>
</form>