.dropdown__title {
  &-input {
    display: none;
  }

  label:before {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border: 3px solid #ffffff;
  }

  &-label_false:before {
    content: "";
    background: #ffffff;
  }

  &-label_partly:before {
    content: "";
    background: #3b0269;
  }

  &-label_true:before {
    content: "+";
    color: #08067e;
    background: #ffffff;
    line-height: 0.75;
  }
}

.dropdown__menu {
  margin-left: 40px;
  margin-top: 10px;

  &-option {
    display: flex;
    vertical-align: middle;

    label {
      margin-left: 10px;
    }
  }
}
