.dropdown__title {
  &-input {
    display: none;
  }

  &-label_false:before {
    content: "";
    color: #000;
    display: inline-block;
    font: 20px Arial;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 1px solid #ffffff;
    vertical-align: middle;
  }

  &-label_true:before {
    content: '&#10003';
    color: #000;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    width: 15px;
    height: 15px;
    background: #3b0269;
    border: 3px solid #ffffff;
    vertical-align: middle;
  }

  &-label_true:before {
    content: "";
    color: #000;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    text-align: center;
    width: 15px;
    height: 15px;
    background: #3b0269;
    border: 3px solid #ffffff;
    vertical-align: middle;
  }

}

.dropdown__menu {
  margin-left: 40px;
  margin-top: 10px;

  &-option {
    display: flex;
    vertical-align: middle;

    label {
      margin-left: 10px;
    }
  }
}
