<div class="page-header">
  <h2 class="text-center text-uppercase text-info">Add new student:</h2>
</div>
<div class="panel">
  <form class="form-horizontal">

    <app-input-form-group [(itemValue)]="name" [(itemInfo)]="nameInfo" itemName="Name"
      (changeItemValue)="changeItemValue($event, 'name')"></app-input-form-group>
    <app-input-form-group [(itemValue)]="lastName" [(itemInfo)]="lastNameInfo" itemName="Last name"
      (changeItemValue)="changeItemValue($event, 'lastName')">
    </app-input-form-group>
    <app-input-form-group [(itemValue)]="age" [(itemInfo)]="ageInfo" itemName="Age"
      (changeItemValue)="changeItemValue($event, 'age')"></app-input-form-group>
    <app-input-form-group [(itemValue)]="address" [(itemInfo)]="addressInfo" itemName="Address"
      (changeItemValue)="changeItemValue($event, 'address')"></app-input-form-group>

    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-3 col-md-offset-9 col-md-1 col-lg-offset-9 col-lg-1">
        <button type="button" (click)="addNewStudent(name, lastName, age, address)" class="btn btn-info">ADD</button>
      </div>
    </div>
  </form>
</div>

<a class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" routerLink="/students">
  <app-button-add [value]="buttonInfo"></app-button-add>
</a>

<app-modal>
  <h3 class="text-info">Please check the filling and correctness of filling in all fields!</h3>
</app-modal>