<div class="page-header">
  <h2 class="text-center text-uppercase text-info">List of students:</h2>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr class="text-info text-uppercase">
      <th>ID</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id+1}}</td>
      <td>{{student.name}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.age}}</td>
      <td>{{student.address}}</td>
    </tr>
  </tbody>
</table>
<a class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" routerLink="/students/adding">
  <app-button-add [value]="buttonInfo"></app-button-add>
</a>