<div class="page-header">
  <h2 class="text-center text-uppercase text-info">List of subjects:</h2>
</div>
<div class="container-subject">
  <a class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6"
    *ngFor="let subject of subjects" routerLink="/subjects/{{subject.name}}">
    <div>
      <h3>{{subject.name}}</h3>
    </div>
  </a>
</div>

<a class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" routerLink="/subjects/adding">
  <app-button-add [value]="buttonInfo"></app-button-add>
</a>
