<nav>
  <ul>
    <li>
      <a routerLink="/">
        <button type="button" class="btn btn-primary">
          Main
        </button>
      </a>
    </li>
    <li>
      <a routerLink="/students">
        <button type="button" class="btn btn-primary">
          Students
        </button>
      </a>
    </li>
    <li>
      <a routerLink="/subjects">
        <button type="button" class="btn btn-primary">
          Subjects
        </button>
      </a>
    </li>
    <li>
      <a routerLink="/statistics">
        <button type="button" class="btn btn-primary">
          Statistics
        </button>
      </a>
    </li>
    <li>
      <a routerLink="/export">
        <button type="button" class="btn btn-primary">
          Export
        </button>
      </a>
    </li>
  </ul>
</nav>