nav {
  width: 80vw;
  margin: 0 auto;

  ul {
    display: flex;
    justify-content: center;

    li {
      margin: 5px;
      list-style: none;

      .btn-primary {
        width: 200px;
        padding: 15px;
        font-size: 22px;
      }
    }
  }
}
